<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>부산 지도</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="{% static 'myApp/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'myApp/js/bootstrap.bundle.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'myApp/css/styles.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet" />
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5da0f9d4cd718f40845e84cca7385951&libraries=services,clusterer,drawing"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/ff169295fb.js" crossorigin="anonymous"></script>
    <style>
        #placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url({% static 'myApp/assets/red_marker.png' %}) no-repeat;}
        #starting-point .markerbg {float:left;position:absolute;width:36px; height:37px;background:url({% static 'myApp/assets/728937_blue_flag_location_map_marker_icon.png' %}) no-repeat;}
        #ending-point .markerbg {float:left;position:absolute;width:36px; height:37px;background:url({% static 'myApp/assets/728984_flag_red_location_map_marker_icon.png' %}) no-repeat;}
    </style>
    <link rel="stylesheet" href="{% static 'myApp/css/busan.css' %}" type="text/css">
    <script>
        const RED_MARKER_SRC = '{% static 'myApp/assets/red_marker.png' %}';
        const STARTING_POINT_MARKER_SRC = '{% static 'myApp/assets/728937_blue_flag_location_map_marker_icon.png' %}';
        const ENDING_POINT_MARKER_SRC = '{% static 'myApp/assets/728984_flag_red_location_map_marker_icon.png' %}';
    </script>
    <script src="{% static 'myApp/js/map_and_marker.js' %}"></script>
    <script>
        var gu;
        function onload(){
            {% if gu %}
                gu = '{{ gu }}';
            {% else %}
                gu = null;
            {% endif %}

            $('#offcanvas').append('<div class="offcanvas-body px-0 justify-content-center"><div class="d-flex justify-content-center" style="height: 100%;"><div class="spinner-border align-self-center" role="status"><span class="visually-hidden">Loading...</span></div></div></div>');
            $.ajax({
                type: "GET",
                url: "/busan/getPlaceList/",
                data: {
                    q: gu,
                    page: 1
                },
                success: function(data){
                    $('#search-input').val(gu);
                    $('.offcanvas-body').remove();
                    $('#offcanvas').append(data);
                    showMarker();
                    },
            });
        }
    </script>
</head>
<body  style="background-color:#aed3ec; height: 100vh;font-family: 'Gamja Flower', cursive; font-size : large" onload="onload()">
    <header style="overflow: auto;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container px-5">
                <a class="navbar-brand">Busan Hotspot</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                        <li class="nav-item"><a class="nav-link" href="/busan">관광지</a></li>
                        <li class="nav-item"><a class="nav-link" href="/festival">축제</a></li>
                        <li class="nav-item"><a class="nav-link" href="/dashboard">대시보드</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="offcanvas show offcanvas-start w-15" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
            <button class="btn btn-primary offcanvas-btn position-absolute mt-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="btn-arrow bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
            <div class="offcanvas-header">
                <div class="container text-center">
                    <div class="row">
                        <div class="input-group rounded" style="border: solid 2px black">
                            <input type="text" class="form-control" id="search-input" placeholder="관광지, 맛집 검색"
                                   style="border: 0px;" onkeypress="if(event.keyCode == 13){loadPlace(1)}">
                            {% if keyword %}
                                <button class="input-group-text border-0" id="search-addon" style="background-color: white;" onclick="loadPlace(1, null, '{{keyword}}')">
                            {% else %}
                                <button class="input-group-text border-0" id="search-addon" style="background-color: white;" onclick="loadPlace(1)">
                            {% endif %}
                                <i class="bi bi-search" style="background-color: white;"></i>
                                </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex align-items-end flex-column">
                            <div class="col-md-5">
                                <select class="form-select" id="sort" required>
                                    <option selected value="rating">평점순</option>
                                    <option value="name">이름순</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-left" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true" style="width: 400px; height: 100%; top: 26px;">
        <div class="modal-dialog modal-dialog-centered" style="height: 100%;">
            <div class="modal-content" style="height: 100%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailModalLabel">Title(Name)</h5>
                    <small id="detailModalCategory">category</small>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="left: 50px;"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-geo-alt"></i>
                            <div class="addr ms-2 me-auto">
                                주소
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-clock"></i>
                            <div class="opt ms-2 me-auto">
                                이용시간
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-telephone"></i>
                            <div class="tel ms-2 me-auto">
                                전화번호
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-browser-chrome"></i>
                            <div class="d-inline-block text-truncate homepage ms-2 me-auto">
                                홈페이지
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-tags"></i>
                            <div class="tag ms-2 me-auto">
                                태그
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-gift"></i>
                            <div class="etc ms-2 me-auto">
                                예약, 배달
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <i class="bi bi-info-circle"></i>
                            <div class="facility ms-2 me-auto">
                                시설물
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <a class="kakaomap-url" href="">카카오맵</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="map_container" style="height: 100vh;">
            <div class="map_wrap">
                <div id="map" style="height: 100vh;"></div>
                <div id="menu_wrap" class="bg_white">
                    <div class="option">
                        <div>
                            <button type="submit" onclick="findRoute();">경로찾기</button>
                        </div>
                    </div>
                    <hr>
                    <div id="starting-point" style="height:80px;">
                        <span class="markerbg marker_start"></span>
                        <div class="info">
                            <h5></h5><i class="bi bi-x" onclick="deleteEndPointMarker('start')"></i>
                            <span class="addr"></span>
                            <span class="tel"></span>
                        </div>
                    </div>
                    <hr>
                    <ul id="placesList"></ul>
                    <hr>
                    <div id="ending-point" style="height:80px;">
                        <span class="markerbg marker_start"></span>
                        <div class="info">
                            <h5></h5><i class="bi bi-x" onclick="deleteEndPointMarker('end')"></i>
                            <span class="addr"></span>
                            <span class="tel"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    var mapContainer = document.getElementById('map'),
    mapOption = {
        center: new kakao.maps.LatLng(35.1379222, 129.05562775),
        level: 8
    };

    var map = new kakao.maps.Map(mapContainer, mapOption);
</script>
<script src="{% static 'myApp/js/sidebar.js' %}"></script>
</html>